NEXT_PUBLIC_SITE_URL=https://example.vercel.app
NEXT_PUBLIC_WHATSAPP_SALES_NUMBER=201515311259
NEXT_PUBLIC_WHATSAPP_GROUP_URL=https://chat.whatsapp.com/G3F2MojXZLnG728TQ3nxV5?s=cl&p=i&mlu=4&amv=1
NEXT_PUBLIC_SUPABASE_URL=https://scbmuxjduroxxbvymwvh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_innPbAT2sonbQy1Eer2Ahg_L4YvXJtn
